<div class="hero-unit">
  <h2>Doorkeeper <span class="label"><%= Doorkeeper::VERSION %></span></h2>

  <p class="large"><a href="https://github.com/applicake/doorkeeper">Doorkeeper</a> is an awesome <a href="http://oauth.net/2/">OAuth 2</a> provider for <a href="http://rubyonrails.org/">Rails</a>. It is built on top of <a href="http://guides.rubyonrails.org/3_1_release_notes.html">Rails 3.1</a> Engines.</p>

  <p>
    <a target="_blank" href="https://github.com/applicake/doorkeeper" class="btn btn-primary btn-large">Doorkeeper on GitHub »</a>
    <iframe src="http://ghbtns.com/github-btn.html?user=applicake&repo=doorkeeper&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user=applicake&repo=doorkeeper&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="90px" height="20px"></iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user=applicake&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="175px" height="20px"></iframe>
  </p>

</div>

<section id="about-app">
  <div class="row">
    <div class="span12">
      <%= readme_to_markdown %>
    </div>
  </div>
</section>
