<div class="span9">
  <fieldset>
    <legend>Sign in</legend>
    <%= render 'form' %>
  </fieldset>
</div>
<div class="span7">
  <h3>Sign in as test user</h3>
  <p>
    <ul>
      <li>Email: <code>user@example.com</code></li>
      <li>Password: <code>doorkeeper</code></li>
    </ul>
  </p>
</div>
