.CodeRay .line { display: block; float: left; width: 100%; }
.CodeRay .no { padding: 0px 4px }

.CodeRay .code pre { overflow: auto }

.CodeRay .debug { color:white ! important; background:blue ! important; }

.CodeRay .af { color:#00C }
.CodeRay .an { color:#007 }
.CodeRay .at { color:#f08 }
.CodeRay .av { color:#700 }
.CodeRay .aw { color:#C00 }
.CodeRay .bi { color:#509; font-weight:bold }
.CodeRay .c  { color:#998; font-style: italic;}

.CodeRay .ch { color:#04D }
.CodeRay .ch .k { color:#04D }
.CodeRay .ch .dl { color:#039 }

.CodeRay .cl { color:#458; font-weight:bold }
.CodeRay .cm { color:#A08; font-weight:bold }
.CodeRay .co { color:teal; }
.CodeRay .cr { color:#0A0 }
.CodeRay .cv { color:#369 }
.CodeRay .de { color:#B0B; }
.CodeRay .df { color:#099; font-weight:bold }
.CodeRay .di { color:#088; font-weight:bold }
.CodeRay .dl { color:black }
.CodeRay .do { color:#970 }
.CodeRay .dt { color:#34b }
.CodeRay .ds { color:#D42; font-weight:bold }
.CodeRay .e  { color:#666; font-weight:bold }
.CodeRay .en { color:#800; font-weight:bold }
.CodeRay .er { color:#F00; background-color:#FAA }
.CodeRay .ex { color:#C00; font-weight:bold }
.CodeRay .fl { color:#099; }
.CodeRay .fu { color:#900; font-weight:bold }
.CodeRay .gv { color:teal; font-weight:bold }
.CodeRay .hx { color:#058; font-weight:bold }
.CodeRay .i  { color:#099; }
.CodeRay .ic { color:#B44; font-weight:bold }

.CodeRay .il { color: black }
.CodeRay .il .il { background: #ccc }
.CodeRay .il .il .il { background: #bbb }
.CodeRay .il .idl { color: #D14; }
.CodeRay .idl { color: #D14; }

.CodeRay .im { color:#f00; }
.CodeRay .in { color:#B2B; font-weight:bold }
.CodeRay .iv { color:teal }
.CodeRay .la { color:#970; font-weight:bold }
.CodeRay .lv { color:#963 }
.CodeRay .oc { color:#40E; font-weight:bold }
.CodeRay .of { color:#000; font-weight:bold }
.CodeRay .op { }
.CodeRay .pc {  font-weight:bold }
.CodeRay .pd { color:#369; font-weight:bold }
.CodeRay .pp { color:#579; }
.CodeRay .ps { color:#00C; font-weight:bold }
.CodeRay .pt { color:#074; font-weight:bold }
.CodeRay .r, .kw  { color:#000; font-weight:bold }

.CodeRay .ke { color: #808; }
.CodeRay .ke .dl { color: #606; }
.CodeRay .ke .ch { color: #80f; }
.CodeRay .vl { color: #088; }

.CodeRay .rx { background-color:#fff0ff }
.CodeRay .rx .k { color:#808 }
.CodeRay .rx .dl { color:#404 }
.CodeRay .rx .mod { color:#C2C }
.CodeRay .rx .fu  { color:#404; font-weight: bold }

.CodeRay .s { color: #D20; }
.CodeRay .s .s { }
.CodeRay .s .s  .s { background-color:#ffd0d0 }
.CodeRay .s .k { color: #D14; }
.CodeRay .s .ch { color: #D14; }
.CodeRay .s .dl { color: #D14; }

.CodeRay .sh { color:#D14 }
.CodeRay .sh .k { }
.CodeRay .sh .dl { color:#D14 }

.CodeRay .sy { color:#990073 }
.CodeRay .sy .k { color:#A60 }
.CodeRay .sy .dl { color:#630 }

.CodeRay .ta { color:#070 }
.CodeRay .tf { color:#070; font-weight:bold }
.CodeRay .ts { color:#D70; font-weight:bold }
.CodeRay .ty { color:#339; font-weight:bold }
.CodeRay .v  { color:#036 }
.CodeRay .xt { color:#444 }

.CodeRay .ins { background: #afa; }
.CodeRay .del { background: #faa; }
.CodeRay .chg { color: #aaf; background: #007; }
.CodeRay .head { color: #f8f; background: #505 }

.CodeRay .ins .ins { color: #080; font-weight:bold }
.CodeRay .del .del { color: #800; font-weight:bold }
.CodeRay .chg .chg { color: #66f; }
.CodeRay .head .head { color: #f4f; }
