<div class="row">
  <% flash.each do |key, message| %>
    <div class="span12">
      <div class="alert alert-<%= key %>">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
    </div>
  <% end %>
</div>
