<div class="row">
  <% flash.each do |key, message| %>
    <div class="span16">
      <div class="alert-message <%= key %>" data-alert><a class="close" href="#">×</a><p><%= message %></p></div>
    </div>
  <% end %>
</div>
