<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Doorkeeper</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#about-doorkeeper-gem">About the Gem</a></li>
          <li><a href="#installation">Installation</a></li>
          <li><a href="#configuration">Configuration</a></li>
          <li><a href="#seed-data">Seed Data</a></li>
          <li><a href="#oauth-endpoint">OAuth Endpoint</a></li>
          <li><a href="#example-api">Example API</a></li>
          <li><a href="#client-applications">Client Apps</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
