<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/">Doorkeeper Provider</a>
      <ul class="nav">
        <li class="active"><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</div>
